주피터 SQL 엔진 설정

In [1]:
%load_ext sql

In [2]:
%sql postgresql://guest:Guest1234@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev

'Connected: guest@dev'

MAU 계산

In [7]:
%%sql SELECT to_char(ts, 'YYYYMM') AS month, count(distinct userid) as user
FROM raw_data.user_session_channel A
LEFT JOIN raw_data.session_timestamp B ON A.sessionid = B.sessionid
GROUP BY month
ORDER BY 1;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[('201905', 281),
 ('201906', 459),
 ('201907', 623),
 ('201908', 662),
 ('201909', 639),
 ('201910', 763),
 ('201911', 721)]